/*
 * Theme Name: Test Project
 * Template: basic
 */
@import url('../basic/style.css');

.logo {
    background: #000000;
}

.logo2 {
    background: #000000;
}
.logo3 {
     background: #000000;
 }

.logo4 {
    background: #000000;
}

.logo5 {
    background: #000000;
}